/* Set theme colors *************************/
$theme-color:      #CC3636;
$background-color: #fdfdfd;
$grey-color-dark:  #333;
$grey-color-light: #ddd;
$grey-color:       #555;
$text-color:       #555; 