{% extends "base.html" %}

{% block content %}
<div class="header-bar">
  <h1>{{ config.title }}</h1>
  {% if config.description %}
  <h2>simple whitespace theme</h2>
  {% endif %}
  <br />
  <hr>
  <br />
</div>
<div class="posts">
  {%- set show_pages = section.pages -%}
  <ul class="post-list">
    {%- for page in show_pages | filter(attribute="extra.layout", value="post") | sort(attribute="date") | reverse %}
    <li class="post on-list">
      <h4 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h4>
      {%- if page.date %}
      <p class="post-meta">
        <span class="post-date">
          {%- if page.date %}
          {{ page.date | date(format="%B %d, %Y") }}
          {% endif -%}
        </span>
        <span>
          {%- if page.authors %} — {{ page.authors | join(sep=", ") }}{% endif -%}
        </span>
      </p>
      {% endif -%}
      <div class="post-content">
        {{ page.description | safe }}
      </div>
      <br>
      <hr>
    </li>
    {% endfor -%}
  </ul>
</div>
{% endblock content %}